* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  border: 2px solid black;
  width: 5vw;
  height: 100vh;
  background-color: rgba(7, 5, 5, 0.863);
}
.bunga {
  width: 5vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 2px solid black; */
  background-color: rgb(54, 241, 54);
  position: absolute;
  top: 0;
}
.bunga img {
  width: 30px;
  height: 30px;
}
.sosmed {
  width: 5vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  top: 7 \0vh;
}
