* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  width: 95%;
  height: 40px;
  position: fixed;
  margin-top: 20px;
  background-color: black;
  left: 35px;
}
.container-1 {
  width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: white;
  margin-left: 30px;
}
.container-2 {
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  color: white;
}
.container-2 ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.container-2 ul li {
  margin: 30px;
}
.container-3 button {
  width: 130px;
  height: 37px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  background-color: black;
}
main {
  /* border: 2px solid black; */
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0px 30px 0px 30px;
}
.kiri {
  width: 50%;
  margin-top: 120px;
}
.app {
}
.app button {
  width: 140px;
  height: 20px;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bold;
  border: 2px solid black;
  background-color: white;
}
.busines {
  font-size: 35px;
  margin-top: 15px;
}
.a {
  margin-top: 40px;
  font-weight: bold;
  color: gray;
}
.a u {
  color: black;
  font-weight: bold;
}
.get {
  margin-top: 50px;
}
.get button {
  width: 220px;
  height: 45px;
  border-radius: 20px;
  color: white;
  display: flex;
  justify-content: space-around;
  background-color: black;
  border: black;
}
.get i {
  display: flex;
  justify-content: space-between;
}
.pembungkus {
  margin-top: 50px;
  display: flex;
}
.icon {
  /* border: 2px solid black; */
  width: 250px;
}
.arsip {
  display: flex;
  align-items: center;
}
.arsip i {
  font-size: 20px;
}
.arsip div {
  border: 1px solid black;
  width: 200px;
  height: 1px;
  margin-left: 10px;
}

.icon h2 {
  font-size: 30px;
  margin-top: 10px;
}
.icon p {
  margin-top: 10px;
}
.icon u {
  font-weight: bold;
}
.ikon {
  /* border: 1px solid black; */
  width: 250px;
}
.stopwatch {
  display: flex;
  align-items: center;
}
.stopwatch i {
  font-size: 25px;
}
.stopwatch div {
  border: 1px solid black;
  width: 200px;
  height: 1px;
  margin-left: 10px;
}
.ikon h2 {
  font-size: 30px;
  margin-top: 4px;
}
.ikon p {
  margin-top: 10px;
}
.ikon u {
  font-weight: bold;
}
.kanan {
  width: 50%;
  /* border: 2px solid black; */
}
.tambah {
  position: absolute;
  top: 170px;
}
.herizontal {
  border-bottom: 2px solid black;
  width: 50px;
  height: 50px;
  position: absolute;
  justify-content: center;
  top: -25px;
  /* left: 750px; */
}
.vertikal {
  border-right: 2px solid black;
  width: 50px;
  height: 50px;
  position: absolute;
  left: -25px;
  /* top: 180px; */
}
.biru {
  width: 250px;
  height: 200px;
  /* border: 2px solid black; */
  background-image: url(../../resource/img/pesiwit.jpg);
  background-size: cover;
  padding: 10px;
  border-radius: 15px;
  position: absolute;
  top: 200px;
  right: 390px;
}
.tiket {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  color: white;
}
.busi {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.nth {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  font-size: 20px;
  align-items: center;
  color: white;
  /* flex-direction: column; */
}
.biru button {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
}
.kalender {
  margin-top: 300px;
  width: 250px;
  height: 200px;
  border: 2px solid black;
  padding: 10px;
  color: white;
  background-color: black;
  border-radius: 15px;
  position: absolute;
  top: 105px;
  right: 390px;
}
.tanggal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.putus {
  width: 230px;
  height: 20px;
  border-bottom: 2px dotted white;
}
.chek {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.bawah {
  margin-top: 50px;
}
.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.oke {
  display: flex;
  justify-content: space-between;
}
.info {
  display: flex;
  justify-content: space-between;
  /* margin-left: 1000px; */
  color: black;
}
