* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 10px;
  top: 5vh;
  position: fixed;
  margin-left: 6vw;
  width: 90vw;
  height: 50px;
  background-color: black;
}

.container-1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5vw;
  color: white;
  font-size: 20px;
  font-weight: bold;
}
.container-1 p {
  margin-left: 1vw;
}

.container-2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  width: 35vw;
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.container-2 ul li {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.container-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.container-3 button {
  width: 10vw;
  height: 7vh;
  border: 2px solid gray;
  background-color: black;
  color: white;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10vw;
  width: 40vw;
  height: 60vh;
}

.container-4 {
  margin-top: 80vh;
}
.container-4 button {
  width: 10vw;
  height: 3vh;
  font-size: 10px;
  border-radius: 10px;
  background-color: transparent;
}

.container-5 h1 {
  height: 10vh;
  font-size: 5vw;
}
.container-6 {
  margin-top: 10vh;
}
.container-6 p {
  font-size: 1vw;
  font-weight: bold;
  color: gray;
}

.container-6 p u {
  font-weight: bold;
  color: black;
}

.container-7 {
  margin-top: 8vh;
}
.container-7 button {
  width: 17vw;
  height: 8vh;
  border-radius: 50px;
  font-size: 1vw;
  font-weight: bold;
  color: white;
  background-color: black;
}
.container-7 i {
  margin-left: 4vw;
}
.container-8 {
  display: flex;
  justify-content: space-around;
  margin-top: 10vh;
}
.kanan {
  display: flex;
  justify-content: space-around;
}
.left {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left i {
  font-size: 30px;
}
.left div {
  width: 15vw;
  height: 1px;
  border: 1px solid black;
  margin-left: 5px;
}
.pembungkus-1 h2 {
  margin-top: 10px;
  font-size: 40px;
  font-weight: 10px;
}
.pembungkus-1 p {
  margin-top: 10px;
  font-size: 15px;
}
.pembungkus-1 p u {
  font-weight: bold;
  color: black;
}
.pembungkus-2 {
  margin-left: 5vw;
  justify-content: space-around;
  align-items: center;
}
.reight {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.reight i {
  font-size: 30px;
}
.reight div {
  width: 15vw;
  height: 1px;
  border: 1px solid black;
}
.pembungkus-2 h2 {
  margin-top: 10px;
  font-size: 35px;
  font-weight: 10px;
}
.pembungkus-2 p {
  margin-top: 10px;
  font-size: 15px;
}
.pembungkus-2 p u {
  font-weight: bold;
  color: black;
}
.kananbawah {
  display: flex;
  justify-content: space-around;
  margin-left: 50vw;
}
.kanan1 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.plus {
  width: 5vw;
  height: vh;
  background-color: black;
}
.herizontal {
  width: 55px;
  height: 2px;
  justify-content: center;

  left: -35px;
  position: absolute;
}
.vertikal {
  width: 2px;
  height: 55px;
}
