* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e9edf3;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5vh;
  margin-right: 2vw;
  margin-left: 2vw;
  /* width: 92vw; */
  cursor: pointer;
}
.container-1 {
  display: flex;
  justify-content: space-around;
  /* width: 8vw; */
  /* border: 2px solid black; */
}
.container-1 h2 {
  font-size: 25px;
  /* font-style: inherit; */
  color: rgb(0, 1, 65);
}
.container-1 h2 i {
  color: rgb(69, 173, 69);
  font-size: 15px;
}
.container-2 {
  display: flex;
  margin-right: -4.5vw;
}
.container-2 ul {
  display: flex;
  list-style-type: none;
  /* margin-left: 9vw; */
}
.container-2 ul li {
  display: flex;
  justify-content: space-around;
  width: 6.5vw;
}
.container-3 {
  display: flex;
  justify-content: space-around;
  margin-right: -5.5vw;
}
.container-3 ul {
  display: flex;
  list-style-type: none;
}
.container-3 ul li {
  display: flex;
  width: 11vw;
}
.container-3 ul li i {
  width: 2vw;
}
.container-4 button {
  width: 10vw;
  height: 7vh;
  border-radius: 10px;
  background-color: rgb(31, 202, 31);
  border: solid rgb(31, 202, 31);
  /* margin-right: 10vw; */
  font-size: 12px;
  font-weight: bold;
  color: white;
}
main {
  /* width: 50vw; */
  margin-top: 10vh;
  display: flex;
  /* justify-content: space-around; */
  margin-right: 4vw;
  margin-left: 4vw;
}
.kiri {
  width: 50vw;
}
.container-5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: px solid black;
  background-color: rgb(222, 252, 226);
  border-radius: 20px;
  margin-right: 4vw;
  width: 29vw;
  height: 6vh;
}
.container-5 button {
  width: 5.5vw;
  height: 4vh;
  font-size: 11.5px;
  border-radius: 20px;
  margin-left: 0.5vw;
  font-weight: bold;
  background-color: rgb(31, 202, 31);
  border: solid rgb(31, 202, 31);
  color: white;
}
.container-5 p {
  font-size: 15px;
  font-weight: bold;
  margin-right: 1.5vw;
}
.container-6 {
  margin-top: 3vh;
  font-size: 2vw;
}
.container-7 {
  margin-top: 2vh;
}
.container-8 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
  border: 2px solid white;
  border-radius: 10px;
  background-color: white;
  width: 35vw;
  height: 8vh;
}
.satu button {
  width: 15vw;
  height: 6.5vh;
  border-radius: 10px;
  background-color: rgba(243, 231, 231, 0.63);
  border: solid rgba(243, 231, 231, 0.63);
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

.dua button {
  width: 12vw;
  height: 6.5vh;
  border-radius: 10px;
  background-color: rgba(243, 231, 231, 0.63);
  border: solid rgba(243, 231, 231, 0.63);
  font-size: 12px;
  font-weight: bold;
  color: gray;
}
.tiga button {
  width: 3vw;
  height: 6vh;
  border-radius: 5px;
  background-color: rgb(31, 202, 31);
  border: rgb(31, 202, 31);
  color: white;
}
.container-9 {
  margin-top: 13vh;
  font-size: 17px;
  font-weight: bold;
}
.container-10 {
  width: 12vw;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5vw; */
  margin-top: 1.5vh;
  /* margin-right: 20vw; */
  background-color: white;
}
.container-10 ul {
  width: 9.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.container-10 img {
  width: 19px;
  height: 19px;
}

.kanan {
  width: 50vw;
}

/* .container-11 {
  display: flex;
  justify-content: flex-end;
} */

.container-11 img {
  width: 35vw;
  height: 70vh;
  position: relative;
  left: 8vw;
  top: 8vh;
}
.container-12 {
  display: flex;
  justify-content: space-around;
  width: 15vw;
  /* height: 7vh; */
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  border-radius: 6px;
  background-color: white;
  position: absolute;
  bottom: 62vh;
  right: 30vw;
}
.ataskiri button {
  width: 1.5vw;
  height: 3vh;
  background-color: rgb(228, 183, 101);
  border: rgb(228, 183, 101);
  border-radius: 4px;
}
.ataskiri button i {
  color: orangered;
}
.ataskiri-2 .cong p {
  color: rgb(31, 202, 31);
}
.ataskiri-2 .you {
  font-size: 12px;
}
.ataskiri-3 button {
  width: 1.5vw;
  height: 3vh;
  color: white;
  background-color: rgb(31, 202, 31);
  border: rgb(31, 202, 31);
  border-radius: 10px;
}
.container-13 {
  position: absolute;
  bottom: 62vh;
  right: 10vw;
  z-index: 999;
}

.ataskanan button {
  width: 3.5vw;
  height: 7vh;
  border-radius: 7px;
  background-color: white;
  /* border: solid white; */
}
.ataskanan button i {
  font-size: 18px;
  color: orange;
}
.container-14 {
  position: absolute;
  bottom: 60vh;
  right: 5.7vw;
}
.ataskanan-2 {
  width: 5.5vw;
  /* height: 7vh; */
}
.ataskanan-2 button {
  width: 5vw;
  height: 4vh;
  font-size: 7px;
  font-weight: bold;
  color: rgb(31, 202, 31);
  border-radius: 5px;
  background-color: white;
}
.container-15 {
  border: 2px solid white;
  background-color: white;
  padding: 2px;
  border-radius: 3px;
  position: absolute;
  bottom: 19.5vh;
  right: 47.5vw;
  z-index: 999;
}
.bawahkiri img {
  width: 1.5vw;
  height: 3vh;
  border-radius: 50%;
}
.container-16 {
  position: absolute;
  bottom: 7vh;
  border: white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.863);
  padding: 18px;
}
.container-16 p {
  width: 16vw;
  font-size: 13px;
}
.bawahkiri-2 {
  font-size: 13px;
  position: relative;
  left: 12.9vw;
}
.container-17 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 20vh;
  right: 4vw;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.795);
  padding: 8px;
}
.container-17 div {
  display: flex;
}
.bawahkanan {
  margin-bottom: 1.5vh;
}

.bawahkanan-2 {
  position: relative;
  left: 2vw;
}

.bawahkanan-2 img {
  width: 3vw;
  height: 6.5vh;
  border-radius: 50%;
  border: 2px solid white;
}

.satu {
  /* z-index: 9; */
}
.dua {
  z-index: 9;
  position: relative;
  right: 1vw;
}
.tiga {
  z-index: 99;
  position: relative;
  right: 2vw;
}
.empat {
  z-index: 999;
  position: relative;
  right: 3vw;
}
.lima {
  z-index: 9999;
  position: relative;
  right: 4vw;
}

.lima {
  border: 2px solid white;
  background-color: rgb(165, 163, 163);
  width: 3vw;
  height: 6.5vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-18 {
  position: absolute;
  border: white;
  border-radius: 5px;
  background-color: white;
  padding: 3px;
  bottom: 18.5vh;
  right: 3vw;
  z-index: 999;
}
.container-18 i {
  color: orange;
  /* font-size: 13px; */
}
