*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
body{
    background-color: rgba(237,239,252,255)
}
section{
    padding: 20px;
    font-family: 'Roboto', sans-serif;

}

nav{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    /* padding: 20px; */
   
}
.container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin-left: 30px;
}
.container-1 h4{
    display: flex;
    font-size: 40px;
}
.container-1 h4 p{
    color: rgb(83, 248, 83);
}
.container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center ;
    /* align-items: center; */
    /* border: 2px solid black; */
    /* width: 40vw; */
    /* margin-left: 200px; */
      
}
.container-2 ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 100px;
    /* width: 10%; */
    
}
.container-2 ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}
.container-2 ul li:hover{
    color: black;
    font-weight: bold;
}
.container-2 button{
    width: 150px;
    height: 40px;
    background-color: black;
    color: white;
    border: black;
    border-radius: 8px;
}
main{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.kotak{
    margin-left: 30px;
    width: 50%;


}
.container1 h2{
    font-size: 70px;
}
.container2{
    margin-top: 10px;
}
.container3 button{
    margin-top: 20px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: black;
    border: black;
    color: white;
}
.kotak2{
    margin-top: 10px;
    width: 50%;
    
}
.satu{
    border: 2px solid gray;
    width: 350px;
    height: 350px;
    border-radius: 200px;
    margin-right: 400px;
    background-color: gray;
    left: 800px;

}
.dua{
    border: 2px solid black;
    width: 350px;
    height: 350px;
    border-radius: 200px;
    margin-right: 400px;
    background-color: black;
    position: absolute;
    top: 85px;
    left: 750px;
    z-index: 1;

}
.tiga{
    border: 2px solid white;
    width: 350px;
    height: 350px;
    border-radius: 200px;
    margin-right: 400px;
    background-color: white;
    position: absolute;
    top: 85px;
    left: 850px;
    z-index: 99;
}
.empat img{
    width: 130px;
    height: 350px;
    position: absolute;
    top: 60px;
    left: 900px ;
    z-index: 999; 
    transform:rotate(-15deg)
}
.lima img{
    width: 130px;
    height: 360px;
    position: absolute;
    top: 60px;
    left: 1050px ;
    z-index: 9999;
    transform: rotate(25deg);
}
.kotak3{
    border: 2px solid white;
    width: 300px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255,255,255,255);
    border-radius: 30px;
    position: absolute;
    top: 350px;
    left: 950px;
    z-index: 99999;

}
.panah i{
    font-size: 40px;
}
.bars i{
    font-size: 40px;
    
}
footer{
    display: flex;
    justify-content: space-between;
    border: 2px solid rgba(230,233,242,255);
    background-color: rgba(230,233,242,255);
    margin-top: 10px;
    margin-left: 22px;
    padding: 30px;
}
.gym:hover{
    height: 170px;
    width: 250px;
    background-color: rgba(237,239,252,255);
    border-radius: 20px;
}
    

.gym i{
    font-size: 40px;
    color: rgba(71,73,72,255);
}
.gym h3{
    font-size: 20px;
    margin-top: 10px;
}
.gym p{
    margin-top: 10px;
}
.gym p button{
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: black;
    border: black;
    color: white;
}
.gym button{
    width: 80px;
    height: 30px;
    border-radius:15px ;
    border: white;
    background-color: white;
    font-weight: bold;
}