* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(78, 77, 77);
}
section {
  display: flex;
  /* justify-content: space-around; */
  /* flex-direction: column; */
}
.navbar {
  width: 5%;
  border: 2px solid black;
}
.kebawah {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 495px;
  margin-top: 15px;
  color: white;
}
.bawah {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  color: white;
}
.bawah ul {
  list-style-type: none;
}
.bawah ul li {
  transform: rotate(-90deg);
  margin: 20px;
}
.samping {
  display: flex;
  margin-left: 750px;
  margin-top: 15px;
}
.samping ul {
  display: flex;
  list-style-type: none;
}
.samping ul li {
  margin-left: 40px;
}
.tulisan {
}
