* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #939496;
}
nav {
  padding: 10px 10px 0 10px;
}
.atas {
  width: 100%;
}
.atas h1 {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  width: 100%;
  letter-spacing: 6rem;
  font-size: 8rem;
}

main {
  padding: 0 10px 10px 10px;
}
.button img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.tengah {
  padding: 10px;
  border: 2px solid black;
  border-top: none;
}
.pojok {
  height: 300px;
  width: 100%;
  background-image: url(../../resource/img/IMG_2376.jpg);
  background-size: cover;
  border-radius: 18px;
  border: transparent;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.button {
  padding: 20px;
  display: flex;
  align-items: center;
}

.button button {
  margin-right: 10px;
  border-radius: 18px;
  background-color: rgba(0, 0, 0, 0.205);
  color: white;
  border: none;
  padding: 10px;
}

.button h5 {
  padding: 3px;
  border-radius: 18px;
  border: 0.5px white solid;
}

.bawah {
  padding: 10px 0;
  display: flex;
}

.kiri {
  width: 40%;
}

.gak {
  display: flex;
  justify-content: flex-end;
}

.kanan {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.kanan ul {
  display: flex;
}

.bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  border-bottom: 2px solid black;
  padding-bottom: 5px;
}

.hooh {
  display: flex;
  margin-top: 15px;
}
.teye {
  width: 50%;
  display: flex;
}
.matahari {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  padding: 3px;
  border: 2px solid black;
  border-bottom: none;
}

.matahari i {
  font-size: 40px;
}
.judul {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  border: 2px solid black;
  border-radius: 18px;
  border-bottom: none;
}
.judul h1 {
  font-size: 44px;
  letter-spacing: 1rem;
}
.tai {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border: 2px solid black;
  border-radius: 18px;
  border-bottom: none;
}

.tai p {
  font-size: 15px;
}

.tai p u {
  margin-left: 2rem;
  font-weight: bold;
}
.tenan {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 0 0 18px 18px;
}

@media only screen and (max-width: 764px) {
  .atas {
    width: 100%;
  }
  .atas h1 {
    letter-spacing: 0;
    font-size: 4.3rem;
  }
  .button {
    display: flex;
    flex-direction: column-reverse;
  }
  .bawah {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .kiri {
    width: 100%;
  }
  .kanan {
    width: 100%;
  }
  .hooh {
    display: flex;
    flex-direction: column;
  }
  .teye {
    width: 100%;
    display: flex;
  }
  .matahari {
    width: 25%;
  }
  .judul {
    width: 75%;
  }
  .judul h1 {
    letter-spacing: 0;
  }
  .tai {
    width: 100%;
  }
}
